<form data-uuid="{$formId}" id="{$formId}" name="{$formId}" method="post">
    <div class="d-flex">
        {foreach from=$pictures item=foto name=fotoItem}
        <div class="w-33 pt10">
            <img src="{$foto['thumb']}" />
            <input placeholder="Kommentar" type="text" name="{$entryFormId}_description[{$foto['filename']}]" class="cntnd_gallery-input" value="{$foto['description']}" /><br />
            <button type="button" data-uuid="{$formId}" class="cntnd_gallery-button btn btn-sm btn-primary">Speichern</button>
        </div>
        {/foreach}
    </div>
</form>